[Oo]bj
[Bb]in
*.user
*.userprefs
*.suo
*.[Cc]ache
*.cachefile
*.bak
*.log
*.ncb
*.DS_Store
*.mep
*.sep
*.pesix
*.svn
[Tt]humbs.db
*.Cache
*packages
*.gvwx
*.aeproperties
*.csvSettings
.vs/config/applicationhost.config
.vs/
